
@{
    ViewBag.Title = "HowItWorks";
}

<h2>HowItWorks</h2>

<p> Do you live overseas and want a specific work to be done on your building project back home? look no further.
    Registered uses have access to top building contractors with proven track record for any of your
    project needs. Smart Consult has done all the background work and screening for you and has a database
    of high quality reliable contractors. We provide remote monitoring capability to our clients through our
    secured online portal so they can track progress remotely without the cost of traveling to the project
    site.
</p>

