@{
    ViewBag.Title = "Smart Consult";
}

<div class="jumbotron">
    <h1>Smart Consult</h1>
    <p class="lead">Smart Consult is a building construction consulting service linking prosepective property development clients to 
    proven building contractors for your dream projects in West Africa. We give our clients the power to monitor the progress of 
    thier projects from the comfort of their homes anywhere in the world. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it Works</h2>
        <p>
            Do you live overseas and want a specific work to be done on your building project back home? look no further.
            We will find you the right contractor, and you can monitor progress from our secure web portal.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("HowItWorks", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            Our services include matching your project needs to a verified contractor, independently monitoring the work 
            being performed and giving you secured access to verification data online.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <p>
            We have enabled and monitored all kinds of construction work from painting jobs all the way to complete
            building contraction. A sample of our projects are provided here.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>