@using Microsoft.AspNet.Identity
@{

    if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Cust"))
    {
        ViewBag.Title = "Customer";
        <h2>Welcome value customer @User.Identity.GetUserName()!</h2>

        <div class="row">
            <div class="col-md-4">
                <p><a class="btn btn-primary" href="@Url.Action("Create", "ServiceRequest")">New Request &raquo;</a></p>
            </div>
        </div>

        <p>
            We value your business and would like to know how you feel about our services
            to better server you. Please sent us feedback.
        </p>
    }
    else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Empl"))
    {
        ViewBag.Title = "Employee";
    }
    else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Cont"))
    {
        ViewBag.Title = "Contractor";
    }
    else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
    {
        ViewBag.Title = "Adminstration";
    }
    else
    {
        ViewBag.Title = "Customer";
    }
}



