
@{
    ViewBag.Title = "Request Processing";
}

<h2>Service Request Processing</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#approvals" aria-controls="approvals" role="tab" data-toggle="tab">Request Approvals</a></li>
        <li role="presentation"><a href="#processing" aria-controls="processing" role="tab" data-toggle="tab">Task Processing</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="approvals">
            @{Html.RenderAction("Approvals");}
        </div>
        <div role="tabpanel" class="tab-pane" id="processing">
            @{Html.RenderAction("Processing");}
        </div>
    </div>

</div>

